/* Target SVG images specifically */
img[src$=".svg"] {
    background-color: white; /* Set the background color to white */
    padding: 10px; /* Optional: Adds some space between the border and the SVG image */
}
